@model FancyOnlineStore.Models.ProductViewModel

<tr>
    <td>
        @Html.DisplayFor(model => model.BrandName)
    </td>
    <td>
        @Html.DisplayFor(model => model.ProductName)
    </td>
    <td>
        @Html.ActionLink("Let me know when it goes up for sale", "PreorderProduct", new {/* id=item.PrimaryKey */})
    </td>
</tr>
